/* Selectores por clase*/

body {

    background-color: rgb(210, 30, 30);
  }
  
  .textos{
      font-family: 'Caveat', cursive;
  
    }
    
    .titulos {
      color: rgb(0, 255, 21);
    }
    
    .parrafo {
      color: blue;
      font-size: 14px;
    }
    
    .diferente {
      color: purple;
    }
    .tamano {

        color:cyan;
        font-size: 40px;
    }

    img {
      border: rgb(123, 202, 248) solid 7px;
      box-shadow: 0px 0px 20px 10px rgb(25, 26, 20);
    }